body {
    background-image: url("../images/geometric.png");
}

img {
    max-width: 45%;
    position: relative;
    left: 35px;
    border: 1px solid black;
    animation-duration: 5s;
    animation-delay: 2s;
}

.display-4 {
    font-family: 'Playfair Display', serif;
    position: relative;
    left: 90px;
    color: whitesmoke;
}

p{
    font-family: 'PT Sans', sans-serif;
    animation-duration: 5s;
    animation-delay: 5s;
}

.jumbotron{
    padding: 20px;
    background-image: url("../images/capture.png");
    background-repeat: no-repeat;
}