body {
    background-image: url("../Images/prism.png");
    background-repeat: repeat;
    width: 960px;
    height: 100px;
    margin: 0;
}

#middle {
    width: 960px;
    background-color: white;
    margin: 10% auto;
    position: absolute;
    left: 50px;
}

.container {
  background-color:white;

}

a {
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #71eeb8;
    margin: 5px;
    padding: 5px;
    float: right;
}

h1 {
  text-align: center;
  color: white;
  background: teal;
  border-color: #cccccc;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  font-size: 24px;
  margin: 0 30px;
  padding: 20px;
  float:left;
}

h2 {
  text-align: center;
  color: teal;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  position: relative;
  left: -370px;
}

p{
  float:right;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  color: rgb(19, 18, 18);
  line-height: 150%;
}
.navbar{
  
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: white;
  height: 67px;
}

img {
  float:left;
  border: 1px solid black;
  right:-40px;
  position: relative;
}

/* p { 
    left: 190px;
    background-color: white;
    position: absolute;
    padding: 20px 50px;
    line-height: 50px;
    font-size:24px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
} */

footer {
    text-align: center;
    color: white;
    background: rgb(12, 24, 24);
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    padding: 20px;
    font-size: 16px;
    position: absolute;
    bottom: -110%;
    width: 100%;
    border-top: 8px solid #4aaaa5;
}

html, body {

    height: 100%;
  }

  .content {

    padding: 20px;
    min-height: 100%;
    margin: 0 auto -50px;
  }

  .footer,
  .push {

    height: 50px;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  